/*
Color scheme
*/
$first-color:             #2bc46d;
$second-color:            #272d2d;
$third-color:             #4870a7;
$highlight:               #ffffff;

$background-color-light:  #f7f6f6;
$background-color-dark:   #272d2d;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

$border-separators:         $first-color;
$menu-bars:                 $second-color;
$menu:                      $first-color;

/*
Recurring effects
*/
$box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Permanent+Marker&display=swap');
$headline_font:     'Permanent Marker', cursive;
$text_font:         'New Tegomin', serif;

/*
Components
*/
@import "common/styles/scss/site/index";
@import "common/styles/scss/site/responsiveness";
@import "common/styles/scss/site/site";
@import "common/styles/scss/components/layout";
@import "common/styles/scss/components/footer";
@import "common/styles/scss/components/homebutton";
@import "common/styles/scss/components/sidebar";
@import "common/styles/scss/components/content";
@import "common/styles/scss/components/header";
@import "common/styles/scss/components/instagram";